<app-navbar>
    
</app-navbar>

<div class="layout">
  <div class="search"> <ngx-skeleton-loader></ngx-skeleton-loader></div>
  <div class="container">
    <div class="first column"><app-userprofile></app-userprofile></div>
    <div class="second column"><ngx-skeleton-loader></ngx-skeleton-loader></div>
    <div class="third column"><ngx-skeleton-loader></ngx-skeleton-loader></div>
  </div>
</div>

<!--TODO missing component -->

<!--user profile-->
<!--categories-->
<!--tasks-->
<!--task details-->
<!--sreach task base on category-->